$primary: #c5050c;

.carousel-control-prev-icon {
  height: 100px;
  width: 100px;
  background-image: none;
  filter: invert(100%);
  margin-left: -12vw;
}

.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-image: none;
  filter: invert(100%);
  margin-right: -12vw;
}

.carousel-control-next-icon:after {
  font-size: 55px;
  color: $primary;
}

.carousel-control-prev-icon:after {
  font-size: 55px;
  color: $primary;
}

@import "~bootstrap/scss/bootstrap.scss";

.root {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  background-color: #c5050c;
}

.mainArea {
  flex: 1;
  padding: 0;
}
