$primary: #c5050c;

@import '~bootstrap/scss/bootstrap.scss';

.root {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  background-color: #c5050c;
}

.mainArea {
  flex: 1;
  padding: 0;
}