.tabContent{
  height: 80vh;
  width: calc(100vw - 16px);
  margin: -8px 8px 0px;
  border: 1px solid #dee2e6;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
}

.tabTitle {
  font-size: 24px;
}

.sidebar {
  flex: 1;
  padding: 12px;
  overflow: auto;
}

.courseArea {
  flex: 5;
  overflow: auto;
  margin-left: 16px;
}

.courseCard {
  padding: 8px;
  margin-bottom: 8px;
}

.courseCardContent {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid #dee2e6;
  border-radius: 0px 0px 5px 5px;
}

.courseCardTitle {
  font-size: 24px;
}

.courseCardSubTitle {
  font-size: 18px;
}

.courseCardBody {
  font-size: 16px;
}

.keywordTag {
  background-color: #c5050c;
  color: white;
  font-size: 12px;
  margin-right: 8px;
  padding: 2px 8px;
  border-radius: 16px;
  text-transform: capitalize;
}

.uwButton {
  width: fit-content;
  padding: 4px 12px;
}

.cartItem {
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.cardItemTitle {
  font-size: 20px;
}

.rateCard {
  padding: 4px;
  margin-bottom: 4px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}